:root {
	--clr-base: teal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 1200px; 
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    width: 90vw;
  }
}